<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ontrak - Flights</title>
</head>
<body>
    <div class="my-flight" id="my-flight">
        <h1>Today's Date: {{ date }}</h1>
        <!-- show active flights currently scheduled/cancelled for following day -->
        {% for data in airline_data %}
            {% set flight_date = data['flight_date'] %}
            {% set flight_status = data['flight_status'] %}
            {% set airline_name = data['airline_name'] %}
            {% set flight_number = data['flight_number'] %}
            {% set active_flight = data['active_flight'] %}
            {% set flight_latitude = data['flight_latitude'] %}
            {% set flight_longitude = data['flight_longitude'] %}
        <h1>{{ airline_name }} : {{ flight_number }}</h1>
        <p>Scheduled flight date: {{ flight_date}} - {{ flight_status }}</p>
        <!-- active flights return lat, long; inactive = null -->
        {% if active_flight is not none %}
            <p>{{ active_flight }}</p>
            <p><strong>
                Lat: {{ flight_latitude }}
                Long: {{ flight_longitude }}
            </strong></p>
        {% else %}
            <p>Flight is not active</p>
        {% endif %}
        {% endfor %}
    </div>
</body>
</html>
